
body{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 24, 97);
    background-position: center;
    font-family: sans-serif;
}
 .check-icon
 
{
    padding-left: 340px;
    padding-top: 20px;

}
/* .ss{
    size: 20px;
}
.head-todo
{
    padding-top: -20px;
} */